*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.hero{
    background-color: #a5cdcd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{    
    padding: 4px 32px;
    font-size: 48px;
  font-weight: 900;
}
ul{
    font-size: 21px; 
    list-style-type: none;
    margin: 0;
    padding: 4px 28px;
    display: flex;
    gap: 58px;
  justify-content: space-between
}

.head{
    font-size: 21px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-size: 15px;
    margin-top: 300px;
    margin-right: 727px;
}
button{
    border-radius: 50%;
    border-radius: 28px;
    padding: 8px 24px;
    margin-left: 400px;
}